<div>
  <h2>List Glucose</h2>


  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Date and Time</th>
      <th>Level</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let glucoseReading of glucoseReadings">
      <td>{{ glucoseReading.id }}</td>
      <td>{{ glucoseReading.dateAndTime }}</td>
      <td>{{ glucoseReading.level }}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/update-glucose', glucoseReading.id]">Update Register Glucose</a>
        <button class="btn btn-danger" type="button" (click)="deleteGlucose(glucoseReading.id)">Delete</button>

      </td>
    </tr>
    </tbody>
  </table>
  <app-chart [glucoses]="glucoseReadings"></app-chart>
</div>

