<nav class="navbar navbar-custom navbar-mainbg">
  <div class="container">
    <div class="col-md-6 d-flex justify-content-end">
      <div class="header-buttons">
        <a class="btn btn-green" routerLink="/home">Home</a>
        <a class="btn btn-green" routerLink="/about">About Us</a>
        <a class="btn btn-green" href="javascript:void(0);">More</a>
      </div>
    </div>
  </div>
      <div class="col-md-6">
        <a class="navbar-brand navbar-logo" href="#">DiabetesTracker</a>
      </div>

</nav>
